/* Não sei */
.margin {
    margin: 16px;
}

/* ------------------------- Medias Queries ------------------------- */

@media (max-width: 991px) {
    #imagem1 img, #imagem2 img { 
        display: block; 
        margin-left: auto; /* Centraliza a imagem */
        margin-right: auto; /* Centraliza a imagem */
        max-width: 100%; /* Faz a imagem não ultrapassar a largura do contêiner */
        height: auto; /* Mantém a proporção da imagem */
    }
    .copyright p{
        text-align: center;
        margin-bottom: 0;
        margin-left: 0;
    }
    .wrapper{
        padding: 0;
    }
    .icones {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center
    }
}
