* {
    box-sizing: border-box;
}

/* Remover margens do corpo */
body {
    margin: 0;
}


/* Estilos para a barra de navegação */


/* Estilos para a barra de navegação */
header {
    background-color: #210348;
}

/* Estilos para a navbar */
.navbar {
    font-family: "M PLUS Rounded 1c", sans-serif;
    background-color: #210348;
    padding: 10px;
}

/* Estilos para os links da navbar */
.navbar-nav .nav-link {
    color: #ffffff;
    font-size: 16px;
    padding: 10px 15px;
    transition: background-color 0.7s ease;
    text-decoration: none;
}

/* Estilos para as imagens no menu */
nav img {
    width: 32px;
    height: 32px;
}

#banner {
    padding: 0px;
}

#banner img {
    width: 100%;
    /* Faz a imagem ocupar 100% da largura do contêiner */
    height: auto;
    /* Mantém a proporção da altura */
}

#imagem1 img {
    border: 3px solid blue;
    max-width: 100%; /* Faz a imagem não ultrapassar a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    box-shadow: 0px 0px 50px hsl(0, 0%, 40%);
    margin: 16px;
    margin-left: auto;
    margin-right: auto;
}

.titulo{
    font-weight: bold;
    font-size: 36px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #060031;
    text-shadow: 0px 0px 5px hsl(240, 1%, 40%);
    margin: 16px;
}

.paragrafo{
    font-size: 20px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #000000;
    text-shadow: 0px 1px 3px rgba(69, 69, 70, 0.8);
    margin: 16px;
}

#textos {
    padding-right: 10px;
    width: 50%;
}

#principal{
    width: 100%;
    margin: 0px;
    margin-top: 40px;
}

#imagem2 img {
    border: 3px solid #F57806;
    max-width: 100%; /* Faz a imagem não ultrapassar a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    box-shadow: 0px 0px 30px hsl(0, 0%, 70%);
    margin-left: auto;
    margin-right: auto;
}

.sub-titulo {
    color: #F57806;
    font-weight: bold;
    margin: 16px;
}

.margin {
    margin: 16px;
}

.wrapper {
    display: inline-flex;
    list-style: none;
    margin: 0;
    flex-direction: column;
    padding-top: 33px;
    text-align: left;
    float: left;
  }

  .wrapper .icon {
    position: relative;
    background: #ffffff;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #000000;
    padding: 5px 8px;
    border-radius: 3px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }

  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #ffffff;
  }

  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1DA1F2;
    color: #ffffff;
  }

  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #E4405F;
    color: #ffffff;
  }

  .wrapper .whatsapp:hover,
  .wrapper .whatsapp:hover .tooltip,
  .wrapper .whatsapp:hover .tooltip::before {
    background: #24b12f;
    color: #ffffff;
  }

  footer p{
    font-size: 20px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #ffffff;
  }

  footer{
    background-color: #210348;
}

.content-area p{
    padding: 10px;
}

.mapa iframe{
    border-radius: 30px;
}

.copyright p{
    text-align: left;
    margin-bottom: 0;
    margin-left: 70px;
}

.mapa iframe{
    width: 50%;
    height: auto;
}

/* Hover do Google Maps */
.mapa iframe:hover {
    animation-name: slideRight;
    animation-duration: 2s; /* Duração da animação */
    animation-fill-mode: forwards; /* Mantém a posição final */
}

/* Animação do Google Maps */
@keyframes slideRight {
    50% {
        transform: scale(1.2); /* Aumenta e move para a direita */
    }
}

/* ------------------------- Medias Queries ------------------------- */

@media (max-width: 1400px) {
    #imagem1 img, #imagem2 img { 
        display: block; 
        margin-left: auto; /* Centraliza a imagem */
        margin-right: auto; /* Centraliza a imagem */
        max-width: 100%; /* Faz a imagem não ultrapassar a largura do contêiner */
    }
}
@media (min-width: 993px){
    .content-area{
        margin-right: 200px;
    }
    #rodape{
        flex-direction: row-reverse;
    }
}
@media (max-width: 992px) {
    #imagem1 img, #imagem2 img { 
        display: block; 
        margin-left: auto; /* Centraliza a imagem */
        margin-right: auto; /* Centraliza a imagem */
        max-width: 100%; /* Faz a imagem não ultrapassar a largura do contêiner */
        height: auto; /* Mantém a proporção da imagem */
    }
    .copyright p{
        text-align: center;
        margin-bottom: 0;
        margin-left: 0;
    }
    .wrapper{
        padding: 0;
    }
    .icones {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center
    }
}

@media(max-width: 768px){
    #textos {
        padding-right: 0px;
        text-align: center; /* Garante que o texto fique alinhado à esquerda */
        width: 100%;
    }
    

}

@media(max-width: 430px){
    #textos {
        padding-right: 0px;
        text-align: left; /* Garante que o texto fique alinhado à esquerda */
        width: 100%;
    }
}

@media (max-width: 360px) {
    #textos {
        padding-right: 0px;
        text-align: left; /* Garante que o texto fique alinhado à esquerda */
        width: 100%;
    }
}
