* {
    box-sizing: border-box;
}

/* Remover margens do corpo */
body {
    margin: 0;
}


/* Estilos para a barra de navegação */
nav {
    background-color: #210348;
}


/* Estilos para o menu de navegação */
.itens-nav {
    padding: 10px;
    list-style: none;
    margin: 0;
    display: flex;
    /* Alinha os itens da lista horizontalmente */
    justify-content: space-between;
    /* Espaça uniformemente os itens */
    align-items: center;
    /* Alinha verticalmente os itens */
}

/* Estilos para os links */
.itens a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    /* Adiciona um pouco de espaço ao redor dos links */
    font-size: 16px;
    background-color: transparent;
    /* Defina a cor de fundo inicial */
    transition: background-color 0.7s ease;
    /* Transição suave de 1.5 segundos */
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    font-family: "M PLUS Rounded 1c", sans-serif;
}

/* Estilos para as imagens no menu */
nav img {
    width: 32px;
    height: 32px;
}

.itens a:hover {
    background-color: #F57806;
    border-radius: 2px;
    border-bottom: 2px solid white;
}

.itens a:active {
    background-color: hsl(29, 100%, 75%);
}

#banner {
    padding: 0px;
}

#banner img {
    width: 100%;
    /* Faz a imagem ocupar 100% da largura do contêiner */
    height: auto;
    /* Mantém a proporção da altura */
}

#imagem1 img {
    border: 3px solid blue;
    max-width: 100%; /* Faz a imagem não ultrapassar a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    box-shadow: 0px 0px 50px hsl(0, 0%, 40%);
    margin: 16px;
    margin-left: auto;
    margin-right: auto;
}

.titulo{
    font-weight: bold;
    font-size: 36px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #060031;
    text-shadow: 0px 0px 5px hsl(240, 1%, 40%);
    margin: 16px;
}

.paragrafo{
    font-size: 20px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #000000;
    text-shadow: 0px 1px 3px rgba(69, 69, 70, 0.8);
    margin: 16px;
}

#textos {
    padding-right: 10px;
    width: 50%;
}

#principal{
    width: 100%;
    margin: 0px;
    margin-top: 40px;
}

#imagem2 img {
    border: 3px solid #F57806;
    max-width: 100%; /* Faz a imagem não ultrapassar a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    box-shadow: 0px 0px 30px hsl(0, 0%, 70%);
    margin-left: auto;
    margin-right: auto;
}

.sub-titulo {
    color: #F57806;
    font-weight: bold;
    margin: 16px;
}

.margin {
    margin: 16px;
}





/* ------------------------- Medias Queries ------------------------- */

@media (max-width: 1400px) {
    #imagem1 img, #imagem2 img { 
        display: block; 
        margin-left: auto; /* Centraliza a imagem */
        margin-right: auto; /* Centraliza a imagem */
        max-width: 100%; /* Faz a imagem não ultrapassar a largura do contêiner */
    }
}

@media (max-width: 992px) {
    #imagem1 img, #imagem2 img { 
        display: block; 
        margin-left: auto; /* Centraliza a imagem */
        margin-right: auto; /* Centraliza a imagem */
        max-width: 100%; /* Faz a imagem não ultrapassar a largura do contêiner */
        height: auto; /* Mantém a proporção da imagem */
    }
}

@media(max-width: 768px){
    #textos {
        padding-right: 0px;
        text-align: center; /* Garante que o texto fique alinhado à esquerda */
        width: 100%;
    }
}

@media(max-width: 430px){
    #textos {
        padding-right: 0px;
        text-align: left; /* Garante que o texto fique alinhado à esquerda */
        width: 100%;
    }
}

@media (max-width: 360px) {
    #textos {
        padding-right: 0px;
        text-align: left; /* Garante que o texto fique alinhado à esquerda */
        width: 100%;
    }
}